.container{
	border: 2px solid red;
	display: flex;
	flex-flow: row;
}
.left{
	border: 2px solid coral;
	width: 50%;
	margin: 10px;
}
.f1{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.f1 img{
	height: 40%;
	width: 40%;
}
.fl{
	border: 2px solid red;
	margin-right: 20px;
	padding-right: 20px;
}
.right{
	margin: 10px;
	border: 2px solid black;
	width: 50%;
}
